<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
		 bootstrap="tests/test.bootstrap.php"
		 colors="true"
		 failOnRisky="true"
		 verbose="true"
		 beStrictAboutChangesToGlobalState="true"
		 beStrictAboutOutputDuringTests="true"
>
	<php>
		<ini name="error_reporting" value="-1"/>
		<ini name="memory_limit" value="1024M"/>
	</php>

	<testsuites>
		<testsuite name="all">
			<directory>tests</directory>
		</testsuite>
		<testsuite name="ph3">
			<directory>tests/Phase3</directory>
		</testsuite>
		<testsuite name="ph4">
			<directory>tests/Phase4</directory>
		</testsuite>
	</testsuites>
</phpunit>

